:root {
  --green-dark: #0a4738;
  --green: #1e6f5c;
  --green-light: #dff5ee;

  --white: #fafafa;
  --gray-light: #e5e7eb;
  --gray: #9ca3af;

  --text-dark: #1c1c1c;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background: var(--white);
  color: var(--text-dark);
}
